body {
font-family: "Montserrat", sans-serif;
background-color: #fff;
color: #111;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

.orange {
    color: #fd9222;
}

/* Header */

.logo,
.nav-link {
    color: #111
}

.logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.12;
        letter-spacing: -0.03em;
        text-transform: uppercase;
}

.logo .italic {
    font-style: italic;
}

.nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: -0.02em;
}

.nav-link:hover,
.nav-link:focus {
color: #fd9222;
}

/* Main */
/* Hero */

.hero {
    background-color: #1e1823;
    color: #fff;
}

.hero-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.22;
        letter-spacing: -0.03em;
}

.hero-btn {
    background-color: #fd9222;
    cursor: pointer;
}

.hero-link,
.hero-btn {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
}

.hero-scroll-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: #fff;
}

.hero-btn:hover,
.hero-btn:focus {
background-color: #fcf1e0;
color: #fd9222;
}

.hero-link:hover,
.hero-link:focus,
.hero-scroll-link:hover,
.hero-scroll-link:focus {
    color: #fd9222;
    background-color: #fff;
}

/* Benefits */

.benefits {
    background-color: #1e1823;
}

.benefits-subtitle {
        font-weight: 600;
        font-size: 18px;
        color: #fff;
}

.benefits-text {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* Ingredients */

.ingredients-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
}

.ingredients-text {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
}

.ingredients-list .milk-choc {
    background-color: #fd9222;
}

.ingredients-list .nuts {
    background-color: #1e1823;
}

.ingredients-subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
}

.ingredients-list .milk-choc,
.ingredients-list .nuts {
    color: #fff;
}

/* Description */

.description-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
}

.description-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.34;
}

.description-text {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
}

/* Reviews */

.reviews-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
}

.reviews-subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33333;
        text-align: center;
}

.reviews-text {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
        font-weight: 600;
        font-size: 18px;
}

.reviews-btn:hover,
.reviews-btn:focus {
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        background-color: #fd9222;
}

/* Footer */

.page-footer {
    background-color: #1e1823;
    color: #fff;
}

.footer-text {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.22;
        letter-spacing: -0.02em;
}

.footer-contact-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
}

.contacts {
    font-style: normal;
}

.contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fff;
}